<h1>Welcome, <%= @user.name %>!</h1>

<p>We are currently working on your account.</p>
<table class="table-init">
  <caption>Activity Summary</caption>
<!-- <tbody>
  <tr class="even">
    <th scope="row">
      <a data-content-id="bubbleDDACurrentPostedBal" class="popover-link popover-init" role="button" style="touch-action: auto;" tabindex="0">== $0
        <span>
          Current Posted Balance
        </span>
        <span class="visuallyhidden"
      </a> 
      </th>
    </tr>
  </tbody> -->
</table>

<p><a href="/logout">Log Out</a></p>
